:root {
  --clr-primary-200: hsl(0, 100%, 74%);
  --clr-primary-400: hsl(154, 59%, 51%);

  --clr-accent: hsl(248, 32%, 49%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(246, 25%, 77%);
  --clr-neutral-600: hsl(249, 10%, 26%);

  --fs-main: 1rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;

  --ff-main: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* General Styling */
body {
  font-family: var(--ff-main);
  font-size: var(--ff-main);
  background-color: var(--clr-primary-200);
  background-image: url(./images/bg-intro-mobile.png);
  min-height: 100vh;
  /* display: grid; */
  /* place-content: center; */
  margin: 0 1.5rem;
}

/* Main Styling */
.content {
  text-align: center;
  color: var(--clr-neutral-100);
}

.content__title {
  font-size: 1.75rem;
  line-height: 1.2;
  margin: 5rem 0 1.5rem 0;
}

.content__description {
  font-weight: var(--fw-medium);
  opacity: 0.9;
}

.form {
  margin-top: 4rem;
}

.try-btn {
  background: var(--clr-accent);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  color: var(--clr-neutral-100);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  font-weight: var(--fw-bold);
  width: 100%;
  transition: opacity 0.4s ease;
}

.try-btn span {
  font-weight: var(--fw-regular);
}

.try-btn:hover {
  opacity: 0.9;
}

form {
  padding: 2rem 1.5rem;
  margin-top: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 8px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 8px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 8px 5px -3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

small {
  display: none;
  margin-top: 0.5rem;
  align-self: flex-end;
  font-size: 0.7rem;
  color: var(--clr-primary-200);
  font-weight: var(--fw-semi);
  margin-right: 0.25rem;
}

.form-control input {
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--clr-neutral-400);
  width: 100%;
  margin: 0 auto;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-600);
}

/* Classes for JS */
.form-control.success input {
  border: 2px solid var(--clr-primary-400);
}

.form-control.error input {
  border: 2px solid var(--clr-primary-200);
}

.error-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.form-control.error .error-icon {
  display: block;
}

.form-control.error small {
  display: block;
}

input::placeholder {
  padding-left: 0.75rem;
  color: var(--clr-neutral-600);
  opacity: 0.8;
  font-weight: var(--fw-semi);
  font-size: 0.9rem;
  transition: 0.4s all ease;
}

input:focus {
  color: var(--clr-neutral-600);
  font-weight: var(--fw-medium);
  outline: none;
  border: 1px solid var(--clr-neutral-600);
}

input:focus::placeholder {
  opacity: 0;
}

input.error {
  border-color: var(--clr-primary-200);
}

input.suceed {
  border-color: var(--clr-primary-400);
}

.form__btn {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  padding: 1rem;
  letter-spacing: 0.05em;
  border-radius: 0.5rem;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: opacity 0.4s ease;
}

.form__btn:hover {
  opacity: 0.8;
}

.form__description {
  color: var(--clr-neutral-400);
  font-size: 0.8rem;
  text-align: center;
}

.form__description span {
  color: var(--clr-primary-200);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.form__description span:hover {
  opacity: 0.8;
}

/* Media Queries */
@media (min-width: 800px) {
  body {
    /* margin: 0; */
    display: grid;
    place-content: center;
    background-image: url(./images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content {
    display: grid;
    place-content: center;
    text-align: left;
  }

  .content__title {
    font-size: 3rem;
  }

  .content__description {
    max-width: 50ch;
  }

  .form {
    max-width: 570px;
  }

  form {
    padding: 2.5rem;
    margin-top: 1.5rem;
    gap: 1.25rem;
  }

  input {
    padding: 1rem;
  }

  .form__description {
    font-size: 0.7rem;
    font-weight: var(--fw-medium);
  }
}

@media (min-width: 1250px) {
  body {
    margin: 0;
  }
}
